:root {
  --primary-color: #291e12;
}

footer {
  background: var(--primary-color);
  color: #fff;
  padding-top: 60px;
  font-family: sans-serif;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

/* Container layout */
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-bottom: 40px;
}

/* Kolom pertama */
.footer-content h3 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1;
}

.footer-content p {
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
  color: #ddd;
}

/* Judul kolom */
.footer-content h4 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}

/* List */
.footer-content ul {
  list-style: disc;
  padding-left: 18px;
  text-wrap: nowrap;
}

.footer-content ul li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #ddd;
}

/* Kontak */
.footer-content div:last-child p {
  margin-bottom: 8px;
  font-size: 14px;
}

/* Copyright bar */
.copyright {
  background: #000000;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #ccc;
}
