:root {
  --primary-color: #291e12;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
p {
  text-align: justify;
}

body {
  background: #fff;
  color: #333;
}

.container {
  width: 1200px;
  margin: auto;
}

.topbar {
  background: #f5f5f5;
  padding: 10px 0;
  font-size: 14px;
}

.topbar-content {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background-color: #fff;
  color: #fff;
}

.navbar .nav-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .container {
  background: #fff;
}
.navbar .container .logo {
  padding: 10px 3% 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 500px;
  width: 100%;
  background: var(--primary-color);
  clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
}

.navbar .container .logo .logo-icon {
  max-width: 60px;
  height: 60px;
  width: fit-content;
}
.navbar .container .logo .logo-icon img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.navbar .container .logo .logo-title > h2 {
  line-height: 1;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #291e12;
  margin-left: 30px;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  position: relative;
  height: 600px;
  background: url("../assets/bg/bg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgb(41, 30, 18, 0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 0.9;
}

.hero p {
  margin-top: 10px;
  width: 600px;
}

.hero-cards {
  margin-top: 4rem;
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  color: #333;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.card .icons {
  width: 60px;
  height: 60px;
  display: flex;
}

.card .icons img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
.motto-section {
  background: var(--primary-color);
  color: white;
  padding: 100px 0;
}

.motto-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.motto-images {
  display: flex;
  gap: 30px;
}

.img-box {
  width: 200px;
  height: 450px;
  background-image: url("../assets/bg/bg.jpeg"); /* ganti dengan fotomu */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

/* kotak kecil */
.img-box.small {
  width: 200px;
  height: 450px;
  margin-top: 40px;

  /* geser posisi background */
  background-position: right center;
}

.motto-text h2 {
  font-size: 40px;
  margin: 0 0 20px 0;
  line-height: 1;
}

.sambutan {
  background: var(--primary-color); /* coklat gelap */
  padding: 80px 0;
  color: #fff;
}

.sambutan-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ================= TEXT ================= */

.sambutan .text {
  width: 60%;
}

.sambutan .text h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 30px;
}

.sambutan .text p {
  font-size: 15px;
  line-height: 1.8;
  color: #ddd;
}

/* ================= FOTO ================= */

.ketua {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.ketua img {
  width: 100%;
  max-width: 420px;
  border-radius: 4px;
  display: block;
}

/* Overlay caption */
.caption {
  position: absolute;
  margin-left: 8px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);

  padding: 15px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.caption strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.caption span {
  font-size: 14px;
  color: #f1f1f1;
}

.kontak {
  padding: 100px 0;
  background: var(--primary-color);
  color: #fff;
}

.kontak h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 70px;
}

/* ================= LAYOUT ================= */

.kontak-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

/* ================= LEFT IMAGE ================= */

.map-img {
  flex: 1;
}

.map-img iframe {
  width: 100%;
  height: 420px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}
/* ================= RIGHT CARD ================= */

.kontak-card {
  background: #7b5a3a;
  padding: 50px;
  border-radius: 25px;
  flex: 1;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.kontak-card h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}

.kontak-card p {
  font-size: 14px;
  color: #eee;
  line-height: 1.7;
}

.kontak-card hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}

.alamat {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 30px;
}

/* ================= PHONE AREA ================= */

.phone-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.phone-icon {
  width: 70px;
  height: 70px;
  border: 3px solid #00c16a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #00c16a;
}

.phone-number {
  font-size: 36px;
  font-weight: 800;
}

.email {
  font-size: 14px;
  color: #ddd;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {
  .kontak-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .phone-area {
    justify-content: center;
  }

  .kontak h1 {
    font-size: 36px;
  }
}
